{%- set external_urls = {
  'github': 'https://github.com/shekharrajak/scipy-sphinx-theme-v2',
  'documentation': 'https://numpy.org/devdocs',
  'neps': 'https://www.numpy.org/neps/index.html',
  'quick_start': 'https://numpy.org/devdocs/user/quickstart.html',
  'doc': 'https://numpy.org/doc',
  'english_link': '/en',
  'dutch_link': '/nl',
  'hindi_link': '/hi',
  'help_us_translate': 'https://crowdin.com/project/scipy-sphinx-theme-v2'
}
-%}