
.main-menu-open-button {
  background-image: url("../images/icon-menu-dots.svg");
  background-position: center center;
  background-size: 25px 7px;
  background-repeat: no-repeat;
  width: 25px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 4px;
}
@media screen and (min-width: 1100px) {
  .main-menu-open-button {
    display: none;
  }
}

.header-holder .main-menu {
  display: none;
}
@media screen and (min-width: 1100px) {
  .header-holder .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header-holder .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.header-holder .main-menu ul li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.header-holder .main-menu ul li.active:after {
  content: "•";
  bottom: -24px;
  color: #e44c2c;
  font-size: 1.375rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.header-holder .main-menu ul li.active a {
  color: #e44c2c;
}
.header-holder .main-menu ul li:last-of-type {
  margin-right: 0;
}
.header-holder .main-menu ul li a {
  color: #ffffff;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 2.125rem;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 1100px) {
  .header-holder .main-menu ul li a:hover {
    color: #007bff;
  }
}

.mobile-main-menu {
  display: none;
}
.mobile-main-menu.open {
  background-color: #262626;
  display: block;
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.mobile-main-menu .container-fluid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  position: relative;
}
.mobile-main-menu .container-fluid:before, .mobile-main-menu .container-fluid:after {
  content: "";
  display: table;
}
.mobile-main-menu .container-fluid:after {
  clear: both;
}
.mobile-main-menu .container-fluid {
  *zoom: 1;
}

.mobile-main-menu.open ul {
  list-style-type: none;
  padding: 0;
}
.mobile-main-menu.open ul li a {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 4rem;
  text-decoration: none;
}
.mobile-main-menu.open ul li.active a {
  color: #e44c2c;
}

.main-menu-close-button {
  background-image: url("../images/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  top: -4px;
}

.mobile-main-menu-header-container {
  position: relative;
}

.mobile-main-menu-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.8125rem;
  height: 100%;
  min-height: 100%;
  margin-top: -68px;
}


.tutorials-header .header-logo {
  background-image: url("../images/numpy_logo.svg");
}
.tutorials-header .main-menu ul li a {
  color: #262626;
}
.tutorials-header .main-menu-open-button {
  background-image: url("../images/icon-menu-dots-dark.svg");
}


.header-holder {
  position: relative;
  z-index: 201;
}

.header-holder .main-menu ul li.active:after {
  color: #ee4c2c;
}
.header-holder .main-menu ul li.active a {
  color: #ee4c2c;
}
@media screen and (min-width: 1100px) {
  .header-holder .main-menu ul li a:hover {
    color: #007bff;
  }
}

.mobile-main-menu.open ul li.active a {
  color: #ee4c2c;
}


.header-container {
  max-width: none;
  margin-top: 4px;
}
@media screen and (min-width: 1101px) {
  .header-container {
    margin-top: 0;
  }
}
@media screen and (min-width: 1600px) {
  .header-container {
    margin-top: 0;
  }
}

.container-fluid.header-holder {
  padding-right: 0;
  padding-left: 0;
  position: inherit;
}

.header-holder .container {
  max-width: none;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}
@media screen and (min-width: 1101px) {
  .header-holder .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

.header-holder .main-menu {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  position: relative;
}
@media screen and (min-width: 1101px) {
  .header-holder .main-menu ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1600px) {
  .header-holder .main-menu ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}


.header-holder {
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}
@media screen and (min-width: 1100px) {
  .header-holder {
    height: 90px;
  }
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.header-container:before, .header-container:after {
  content: "";
  display: table;
}
.header-container:after {
  clear: both;
}
.header-container {
  *zoom: 1;
}
@media screen and (min-width: 1100px) {
  .header-container {
    display: block;
  }
}

.header-logo {
  height: 23px;
  width: 93px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 93px 23px;
  display: block;
  float: left;
  z-index: 10;
}
@media screen and (min-width: 1100px) {
  .header-logo {
    background-size: 164px 43px;
    position: absolute;
    height: 56px;
    width: 148px;
    top: -6px;
    float: none;
  }
}
